In [182]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.streaming import StreamingQuery
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql.functions import *

In [183]:
spark = (
    SparkSession.builder.master("local[*]")
    .appName("Tutorial App")
    .config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.3.1")
    .getOrCreate()
)

In [184]:
read = spark.read \
                          .format("kafka") \
                          .option("kafka.bootstrap.servers", "localhost:9092") \
                          .option("subscribe", "topic_nested")

In [185]:
read = read.load()

In [186]:
schema = StructType([
    StructField("Timestamp", StringType(), True),
    StructField("string_columns", StructType([
        StructField("Name", StringType(), True),
        StructField("Sex", StringType(), True),
        StructField("Age", StringType(), True),
        StructField("Ticket", StringType(), True),
        StructField("Fare", StringType(), True),
        StructField("Cabin", StringType(), True),
        StructField("Embarked", StringType(), True)
    ]), True),
    StructField("numeric_columns", StructType([
        StructField("PassengerId", IntegerType(), True),
        StructField("Survived", IntegerType(), True),
        StructField("Pclass", IntegerType(), True),
        StructField("SibSp", IntegerType(), True),
        StructField("Parch", IntegerType(), True)
    ]), True)
])

In [187]:
read = read.select(col("value").cast(StringType()))

In [188]:
read = read.withColumn("message_content", F.from_json(F.col("value").cast("string"),schema))

In [189]:
read.printSchema()

root
 |-- value: string (nullable = true)
 |-- message_content: struct (nullable = true)
 |    |-- Timestamp: string (nullable = true)
 |    |-- string_columns: struct (nullable = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Sex: string (nullable = true)
 |    |    |-- Age: string (nullable = true)
 |    |    |-- Ticket: string (nullable = true)
 |    |    |-- Fare: string (nullable = true)
 |    |    |-- Cabin: string (nullable = true)
 |    |    |-- Embarked: string (nullable = true)
 |    |-- numeric_columns: struct (nullable = true)
 |    |    |-- PassengerId: integer (nullable = true)
 |    |    |-- Survived: integer (nullable = true)
 |    |    |-- Pclass: integer (nullable = true)
 |    |    |-- SibSp: integer (nullable = true)
 |    |    |-- Parch: integer (nullable = true)

In [190]:
df_denest = read.select(
    col("message_content.Timestamp").alias("Timestamp"),
    col("message_content.string_columns.Name").alias("Name"),
    col("message_content.string_columns.Sex").alias("Sex"),
    col("message_content.string_columns.Age").alias("Age"),
    col("message_content.string_columns.Ticket").alias("Ticket"),
    col("message_content.string_columns.Fare").alias("Fare"),
    col("message_content.string_columns.Cabin").alias("Cabin"),
    col("message_content.string_columns.Embarked").alias("Embarked"),
    col("message_content.numeric_columns.PassengerId").alias("PassengerId"),
    col("message_content.numeric_columns.Survived").alias("Survived"),
    col("message_content.numeric_columns.Pclass").alias("Pclass"),
    col("message_content.numeric_columns.SibSp").alias("SibSp"),
    col("message_content.numeric_columns.Parch").alias("Parch")
)

In [191]:
df_denest.printSchema()

root
 |-- Timestamp: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)

In [192]:
df_denest.show()

+--------------------+--------------------+------+----+----------------+-------+-----+--------+-----------+--------+------+-----+-----+
|           Timestamp|                Name|   Sex| Age|          Ticket|   Fare|Cabin|Embarked|PassengerId|Survived|Pclass|SibSp|Parch|
+--------------------+--------------------+------+----+----------------+-------+-----+--------+-----------+--------+------+-----+-----+
|2020-01-01T13:45:...|Braund, Mr. Owen ...|  male|  22|       A/5 21171|   7.25| null|       S|          1|       0|     3|    1|    0|
|2020-01-01T13:44:...|Cumings, Mrs. Joh...|female|  38|        PC 17599|71.2833|  C85|       C|          2|       1|     1|    1|    0|
|2020-01-01T13:38:...|Heikkinen, Miss. ...|female|  26|STON/O2. 3101282|  7.925| null|       S|          3|       1|     3|    0|    0|
|2020-01-01T13:32:...|Futrelle, Mrs. Ja...|female|  35|          113803|   53.1| C123|       S|          4|       1|     1|    1|    0|
|2020-01-01T13:36:...|Allen, Mr. Willia...|  male|  35|          373450|   8.05| null|       S|          5|       0|     3|    0|    0|
|2020-01-01T13:31:...|    Moran, Mr. James|  male|null|          330877| 8.4583| null|       Q|          6|       0|     3|    0|    0|
|2020-01-01T13:37:...|McCarthy, Mr. Tim...|  male|  54|           17463|51.8625|  E46|       S|          7|       0|     1|    0|    0|
|2020-01-01T13:49:...|Palsson, Master. ...|  male|   2|          349909| 21.075| null|       S|          8|       0|     3|    3|    1|
|2020-01-01T13:33:...|Johnson, Mrs. Osc...|female|  27|          347742|11.1333| null|       S|          9|       1|     3|    0|    2|
|2020-01-01T13:32:...|Nasser, Mrs. Nich...|female|  14|          237736|30.0708| null|       C|         10|       1|     2|    1|    0|
|2020-01-01T13:32:...|Sandstrom, Miss. ...|female|   4|         PP 9549|   16.7|   G6|       S|         11|       1|     3|    1|    1|
|2020-01-01T13:30:...|Bonnell, Miss. El...|female|  58|          113783|  26.55| C103|       S|         12|       1|     1|    0|    0|
|2020-01-01T13:33:...|Saundercock, Mr. ...|  male|  20|       A/5. 2151|   8.05| null|       S|         13|       0|     3|    0|    0|
|2020-01-01T13:30:...|Andersson, Mr. An...|  male|  39|          347082| 31.275| null|       S|         14|       0|     3|    1|    5|
|2020-01-01T13:41:...|Vestrom, Miss. Hu...|female|  14|          350406| 7.8542| null|       S|         15|       0|     3|    0|    0|
|2020-01-01T13:34:...|Hewlett, Mrs. (Ma...|female|  55|          248706|   16.0| null|       S|         16|       1|     2|    0|    0|
|2020-01-01T13:41:...|Rice, Master. Eugene|  male|   2|          382652| 29.125| null|       Q|         17|       0|     3|    4|    1|
|2020-01-01T13:39:...|Williams, Mr. Cha...|  male|null|          244373|   13.0| null|       S|         18|       1|     2|    0|    0|
|2020-01-01T13:39:...|Vander Planke, Mr...|female|  31|          345763|   18.0| null|       S|         19|       0|     3|    1|    0|
|2020-01-01T13:36:...|Masselmani, Mrs. ...|female|null|            2649|  7.225| null|       C|         20|       1|     3|    0|    0|
+--------------------+--------------------+------+----+----------------+-------+-----+--------+-----------+--------+------+-----+-----+
only showing top 20 rows

In [193]:
df= df_denest.dropDuplicates()

In [194]:
df.show()

+--------------------+--------------------+------+----+------------------+-------+-------+--------+-----------+--------+------+-----+-----+
|           Timestamp|                Name|   Sex| Age|            Ticket|   Fare|  Cabin|Embarked|PassengerId|Survived|Pclass|SibSp|Parch|
+--------------------+--------------------+------+----+------------------+-------+-------+--------+-----------+--------+------+-----+-----+
|2020-01-01T13:30:...|Moubarek, Master....|  male|null|              2661|15.2458|   null|       C|         66|       1|     3|    1|    1|
|2020-01-01T13:45:...|Caldwell, Master....|  male|   0|            248738|   29.0|   null|       S|         79|       1|     2|    0|    2|
|2020-01-01T13:35:...|      Ali, Mr. Ahmed|  male|  24|SOTON/O.Q. 3101311|   7.05|   null|       S|        211|       0|     3|    0|    0|
|2020-01-01T13:43:...|Stead, Mr. Willia...|  male|  62|            113514|  26.55|    C87|       S|        253|       0|     1|    0|    0|
|2020-01-01T13:30:...|Allison, Master. ...|  male|   0|            113781| 151.55|C22 C26|       S|        306|       1|     1|    1|    2|
|2020-01-01T13:42:...|Carlsson, Mr. Aug...|  male|  28|            350042| 7.7958|   null|       S|        757|       0|     3|    0|    0|
|2020-01-01T13:35:...|Gill, Mr. John Wi...|  male|  24|            233866|   13.0|   null|       S|        865|       0|     2|    0|    0|
|2020-01-01T13:46:...|Lefebre, Master. ...|  male|null|              4133|25.4667|   null|       S|        177|       0|     3|    3|    1|
|2020-01-01T13:48:...|Stanley, Mr. Edwa...|  male|  21|         A/4 45380|   8.05|   null|       S|        495|       0|     3|    0|    0|
|2020-01-01T13:48:...|  Harris, Mr. George|  male|  62|       S.W./PP 752|   10.5|   null|       S|        571|       1|     2|    0|    0|
|2020-01-01T13:37:...|Lindqvist, Mr. Ei...|  male|  20| STON/O 2. 3101285|  7.925|   null|       S|        665|       1|     3|    1|    0|
|2020-01-01T13:35:...| Icard, Miss. Amelie|female|  38|            113572|   80.0|    B28|    null|         62|       1|     1|    0|    0|
|2020-01-01T13:37:...|Berglund, Mr. Kar...|  male|  22|           PP 4348|   9.35|   null|       S|        226|       0|     3|    0|    0|
|2020-01-01T13:48:...|"Mullens, Miss. K...|female|null|             35852| 7.7333|   null|       Q|        698|       1|     3|    0|    0|
|2020-01-01T13:30:...|Gustafsson, Mr. A...|  male|  20|              7534| 9.8458|   null|       S|        877|       0|     3|    0|    0|
|2020-01-01T13:40:...|Shelley, Mrs. Wil...|female|  25|            230433|   26.0|   null|       S|        881|       1|     2|    0|    1|
|2020-01-01T13:34:...|Hewlett, Mrs. (Ma...|female|  55|            248706|   16.0|   null|       S|         16|       1|     2|    0|    0|
|2020-01-01T13:36:...|Panula, Master. J...|  male|   7|           3101295|39.6875|   null|       S|         51|       0|     3|    4|    1|
|2020-01-01T13:36:...|White, Mr. Richar...|  male|  21|             35281|77.2875|    D26|       S|        103|       0|     1|    0|    1|
|2020-01-01T13:48:...|Olsen, Mr. Henry ...|  male|  28|            C 4001| 22.525|   null|       S|        509|       0|     3|    0|    0|
+--------------------+--------------------+------+----+------------------+-------+-------+--------+-----------+--------+------+-----+-----+
only showing top 20 rows

In [195]:
df = df.na.drop(how = "any",subset = ['Cabin','Age','Embarked'])
df.show()

+--------------------+--------------------+------+---+----------+--------+---------------+--------+-----------+--------+------+-----+-----+
|           Timestamp|                Name|   Sex|Age|    Ticket|    Fare|          Cabin|Embarked|PassengerId|Survived|Pclass|SibSp|Parch|
+--------------------+--------------------+------+---+----------+--------+---------------+--------+-----------+--------+------+-----+-----+
|2020-01-01T13:43:...|Stead, Mr. Willia...|  male| 62|    113514|   26.55|            C87|       S|        253|       0|     1|    0|    0|
|2020-01-01T13:30:...|Allison, Master. ...|  male|  0|    113781|  151.55|        C22 C26|       S|        306|       1|     1|    1|    2|
|2020-01-01T13:36:...|White, Mr. Richar...|  male| 21|     35281| 77.2875|            D26|       S|        103|       0|     1|    0|    1|
|2020-01-01T13:39:...|Lines, Miss. Mary...|female| 16|  PC 17592|    39.4|            D28|       S|        854|       1|     1|    0|    1|
|2020-01-01T13:32:...|Davidson, Mr. Tho...|  male| 31|F.C. 12750|    52.0|            B71|       S|        672|       0|     1|    1|    0|
|2020-01-01T13:33:...|Maioni, Miss. Rob...|female| 16|    110152|    86.5|            B79|       S|        505|       1|     1|    0|    0|
|2020-01-01T13:41:...|Butt, Major. Arch...|  male| 45|    113050|   26.55|            B38|       S|        537|       0|     1|    0|    0|
|2020-01-01T13:45:...|Cherry, Miss. Gladys|female| 30|    110152|    86.5|            B77|       S|        258|       1|     1|    0|    0|
|2020-01-01T13:37:...|"Flynn, Mr. John ...|  male| 36|  PC 17474| 26.3875|            E25|       S|        573|       1|     1|    0|    0|
|2020-01-01T13:40:...|Moen, Mr. Sigurd ...|  male| 25|    348123|    7.65|          F G73|       S|         76|       0|     3|    0|    0|
|2020-01-01T13:48:...|Pears, Mrs. Thoma...|female| 22|    113776|    66.6|             C2|       S|        152|       1|     1|    1|    0|
|2020-01-01T13:40:...|Barkworth, Mr. Al...|  male| 80|     27042|    30.0|            A23|       S|        631|       1|     1|    0|    0|
|2020-01-01T13:45:...|Aubart, Mme. Leon...|female| 24|  PC 17477|    69.3|            B35|       C|        370|       1|     1|    0|    0|
|2020-01-01T13:32:...|Beckwith, Mrs. Ri...|female| 47|     11751| 52.5542|            D35|       S|        872|       1|     1|    1|    1|
|2020-01-01T13:34:...|"Ryerson, Miss. S...|female| 21|  PC 17608| 262.375|B57 B59 B63 B66|       C|        743|       1|     1|    2|    2|
|2020-01-01T13:43:...|  Moor, Mrs. (Beila)|female| 27|    392096|  12.475|           E121|       S|        824|       1|     3|    0|    1|
|2020-01-01T13:40:...|Carter, Master. W...|  male| 11|    113760|   120.0|        B96 B98|       S|        803|       1|     1|    1|    2|
|2020-01-01T13:35:...|Spedden, Mrs. Fre...|female| 40|     16966|   134.5|            E34|       C|        320|       1|     1|    1|    1|
|2020-01-01T13:31:...|Baxter, Mr. Quigg...|  male| 24|  PC 17558|247.5208|        B58 B60|       C|        119|       0|     1|    0|    1|
|2020-01-01T13:34:...|Dick, Mr. Albert ...|  male| 31|     17474|    57.0|            B20|       S|        691|       1|     1|    1|    0|
+--------------------+--------------------+------+---+----------+--------+---------------+--------+-----------+--------+------+-----+-----+
only showing top 20 rows

In [196]:
df = df.drop('Pclass','SibSp','Parch')
df.show()

+--------------------+--------------------+------+---+----------+--------+---------------+--------+-----------+--------+
|           Timestamp|                Name|   Sex|Age|    Ticket|    Fare|          Cabin|Embarked|PassengerId|Survived|
+--------------------+--------------------+------+---+----------+--------+---------------+--------+-----------+--------+
|2020-01-01T13:43:...|Stead, Mr. Willia...|  male| 62|    113514|   26.55|            C87|       S|        253|       0|
|2020-01-01T13:30:...|Allison, Master. ...|  male|  0|    113781|  151.55|        C22 C26|       S|        306|       1|
|2020-01-01T13:36:...|White, Mr. Richar...|  male| 21|     35281| 77.2875|            D26|       S|        103|       0|
|2020-01-01T13:39:...|Lines, Miss. Mary...|female| 16|  PC 17592|    39.4|            D28|       S|        854|       1|
|2020-01-01T13:32:...|Davidson, Mr. Tho...|  male| 31|F.C. 12750|    52.0|            B71|       S|        672|       0|
|2020-01-01T13:33:...|Maioni, Miss. Rob...|female| 16|    110152|    86.5|            B79|       S|        505|       1|
|2020-01-01T13:41:...|Butt, Major. Arch...|  male| 45|    113050|   26.55|            B38|       S|        537|       0|
|2020-01-01T13:45:...|Cherry, Miss. Gladys|female| 30|    110152|    86.5|            B77|       S|        258|       1|
|2020-01-01T13:37:...|"Flynn, Mr. John ...|  male| 36|  PC 17474| 26.3875|            E25|       S|        573|       1|
|2020-01-01T13:40:...|Moen, Mr. Sigurd ...|  male| 25|    348123|    7.65|          F G73|       S|         76|       0|
|2020-01-01T13:48:...|Pears, Mrs. Thoma...|female| 22|    113776|    66.6|             C2|       S|        152|       1|
|2020-01-01T13:40:...|Barkworth, Mr. Al...|  male| 80|     27042|    30.0|            A23|       S|        631|       1|
|2020-01-01T13:45:...|Aubart, Mme. Leon...|female| 24|  PC 17477|    69.3|            B35|       C|        370|       1|
|2020-01-01T13:32:...|Beckwith, Mrs. Ri...|female| 47|     11751| 52.5542|            D35|       S|        872|       1|
|2020-01-01T13:34:...|"Ryerson, Miss. S...|female| 21|  PC 17608| 262.375|B57 B59 B63 B66|       C|        743|       1|
|2020-01-01T13:43:...|  Moor, Mrs. (Beila)|female| 27|    392096|  12.475|           E121|       S|        824|       1|
|2020-01-01T13:40:...|Carter, Master. W...|  male| 11|    113760|   120.0|        B96 B98|       S|        803|       1|
|2020-01-01T13:35:...|Spedden, Mrs. Fre...|female| 40|     16966|   134.5|            E34|       C|        320|       1|
|2020-01-01T13:31:...|Baxter, Mr. Quigg...|  male| 24|  PC 17558|247.5208|        B58 B60|       C|        119|       0|
|2020-01-01T13:34:...|Dick, Mr. Albert ...|  male| 31|     17474|    57.0|            B20|       S|        691|       1|
+--------------------+--------------------+------+---+----------+--------+---------------+--------+-----------+--------+
only showing top 20 rows

In [197]:
df = df.withColumn("Age", col("Age").cast(DoubleType())) \
  .withColumn("Fare", col("Fare").cast(DoubleType()))

In [198]:
df

DataFrame[Timestamp: string, Name: string, Sex: string, Age: double, Ticket: string, Fare: double, Cabin: string, Embarked: string, PassengerId: int, Survived: int]

In [199]:
df.write.json("titanic.json")